<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        .form-group {
            margin-bottom: 15px;
        }
        label {
            display: block;
            margin-bottom: 5px;
        }
        input[type="text"], input[type="number"] {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
        }
        button {
            padding: 10px 15px;
            margin-right: 10px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>CRUD</h1>

    <div class="form-group">
        <label for="itemId">ID:</label>
        <input type="text" id="itemId" placeholder="Введите ID">
    </div>

    <div class="form-group">
        <label for="itemName">Название фильма:</label>
        <input type="text" id="itemName" placeholder="Введите название фильма">
    </div>

    <div class="form-group">
        <label for="itemstart">Начало сеанса:</label>
        <input type="text" id="itemstart" placeholder="Введите значение">
    </div>

        <div class="form-group">
        <label for="itemend">Конец сеанса:</label>
        <input type="text" id="itemend" placeholder="Введите значение">
    </div>

    <button onclick="createItem()">Создать (POST)</button>
    <button onclick="updateItem()">Обновить (PUT)</button>
    <button onclick="getItem()">Получить (GET)</button>
    <button onclick="getItems()">Получить всё(GET)</button>
    <button onclick="deleteItem()">Удалить (DELETE)</button>

    <script>

        const address = 'http://127.0.0.1:5000/api/';

        function createTableFromDicts(data) {
            if (!Array.isArray(data)) {
                if (typeof data === 'object' && data !== null) {
                    data = [data];
                } else {
                    console.error('Неверный тип данных');
                    return;
                }
            }
            if (data.length === 0) {
                console.error('Список словарей пуст.');
                return;
            }
            const existingTable = document.getElementById('dynamicTable');
            if (existingTable) {
                existingTable.remove();
            }
            const table = document.createElement('table');
            table.id = 'dynamicTable';
            table.border = "1";
            const headers = Object.keys(data[0]);
            table.innerHTML = `<tr>${headers.map(header => `<th>${header}</th>`).join('')}</tr>`;
            table.innerHTML += data.map(dict =>
                `<tr>${headers.map(header => `<td>${dict[header] || ''}</td>`).join('')}</tr>`
            ).join('');
            document.body.appendChild(table);
        }


        async function createItem() {
            const name = document.getElementById('itemName').value;
            const end = document.getElementById('itemend').value;
            const start = document.getElementById('itemstart').value;
            const response = await fetch(address, {method: 'POST', headers: {'Content-Type': 'application/json'},body: JSON.stringify({ name, end, start })});
            const result = await response.json();
            console.log('Элемент создан:', result);
        }

        async function updateItem() {
            const id = document.getElementById('itemId').value;
            const name = document.getElementById('itemName').value;
            const end = document.getElementById('itemend').value;
            const start = document.getElementById('itemstart').value;
            const response = await fetch((address + id), {method: 'PUT',headers: {'Content-Type': 'application/json'}, body: JSON.stringify({ name, end, start })});
            const result = await response.json();
            console.log('Элемент обновлен:', result);
        }

        async function getItem() {
            const id = document.getElementById('itemId').value;
            const response = await fetch((address + id), {method: 'GET',headers: {'Content-Type': 'application/json'}});
            const result = await response.json();
            console.log('Элемент получен:', result);
            createTableFromDicts(result['request']);
        }
        async function getItems() {
            const id = document.getElementById('itemId').value;
            const response = await fetch(address, {method: 'GET', headers: {'Content-Type': 'application/json'}});
            const result = await response.json();
            console.log('Элемент получен:', result);
            createTableFromDicts(result['request']);
        }
        async function deleteItem() {
            const id = document.getElementById('itemId').value;
            const response = await fetch((address + id), {method: 'DELETE'});
            const result = await response.json();
            console.log('Элемент удален:', result);
            }
</script>
</body>
</html>
